This is sidebar!
<div class="dropdown">
    <ul role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" >北京二手房影响因素</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=type">房屋户型</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=area">面积大小</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=orientation">房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=floor">所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=age">房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=purpose">房屋用途</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=heating">供暖方式</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=fitment">装修情况</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=elevator">有无电梯</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=typeandorientation">房屋户型、房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=typeandfloor">房屋户型、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=typeandage">房屋户型、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=orientationandfloor">房屋朝向、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=orientationandage">房屋朝向、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=bj&factor=floorandage">所在楼层、房屋寿命</a>
        </li>
        <!--         <li role="presentation" class="divider"></li>
        <li role="presentation" >下拉菜单标题</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li> -->
    </ul>
    <ul role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation" >上海二手房影响因素</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=type">房屋户型</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=area">面积大小</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=orientation">房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=floor">所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=age">房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=purpose">房屋用途</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=heating">供暖方式</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=fitment">装修情况</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=elevator">有无电梯</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=typeandorientation">房屋户型、房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=typeandfloor">房屋户型、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=typeandage">房屋户型、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=orientationandfloor">房屋朝向、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=orientationandage">房屋朝向、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sh&factor=floorandage">所在楼层、房屋寿命</a>
        </li>
    </ul>
    <ul role="menu" aria-labelledby="dropdownMenu3">
        <li role="presentation" >广州二手房影响因素</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=type">房屋户型</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=area">面积大小</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=orientation">房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=floor">所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=age">房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=purpose">房屋用途</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=heating">供暖方式</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=fitment">装修情况</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=elevator">有无电梯</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=typeandorientation">房屋户型、房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=typeandfloor">房屋户型、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=typeandage">房屋户型、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=orientationandfloor">房屋朝向、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=orientationandage">房屋朝向、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=gz&factor=floorandage">所在楼层、房屋寿命</a>
        </li>
    </ul>
    <ul role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation" >深圳二手房影响因素</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=type">房屋户型</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=area">面积大小</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=orientation">房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=floor">所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=age">房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=purpose">房屋用途</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=heating">供暖方式</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=fitment">装修情况</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=elevator">有无电梯</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=typeandorientation">房屋户型、房屋朝向</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=typeandfloor">房屋户型、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=typeandage">房屋户型、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=orientationandfloor">房屋朝向、所在楼层</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=orientationandage">房屋朝向、房屋寿命</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/?city=sz&factor=floorandage">所在楼层、房屋寿命</a>
        </li>
    </ul>
</div>